body{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;
    background: #F2F2F2;
    position: relative;
     overflow-x: hidden;  
  }
  

.box{
    display: flex;
    /* padding-left: 140px;
    padding-right: 140px; */
}
@media (max-width: 768px) {
    .box{
display: block;
    }
}
header{
    display: grid;
    grid-template-columns: auto auto auto;
    
}

.header-ul-class{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-right: 48px;
    margin-top: 54px;
    color:#000000E5;
    font-family: font-header;
    font-size: 14px;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}
@media (max-width: 1024px) {
    .header-ul-class{
display: none;
    }
}

nav ul li:first-child { 
     border-bottom-style: solid;
     border-bottom-color: #29B24E;
     width: 30px;
}

.logoheader{
    max-width: 48px;
    width: 100%;
    margin-left: 140px;
    margin-top: 42px;
    margin-bottom: 41px;

}
.sellsomething-header{
    padding: 13px 26px;
    width: 156px;
    height: 47px;
    border-radius: 12px;
    background: #29B24E;
    color: #FFF;
    font-family: font-header;
    font-size: 14px;
    font-style: normal;
    width: 104px;
    height: 21px;
    margin-right: 138px;
    margin-top: 42px;
    margin-bottom: 32px;
    text-decoration: none;

}
.image-none{
width: 18px;
height: 18px;
flex-shrink: 0;
padding: 13px 13px;
border-radius: 24px;
background: #F8F8F8;
display: none;
}
@media (max-width: 1024px) {
    .sellsomething-header{
        display: none;   
    }
    .image-none{
        display: flex;
        margin-top: 40px;
        margin-left: 22px;
    }
    
    }



.search-form{
     max-width: 395px;
     width: 100%;
    border-radius: 24px;
    background: #F8F8F8;
    box-shadow: 0px 4px 25px 0px rgba(194, 194, 194, 0.31);

}
@media (max-width: 1024px) {
    .left-container{
        width: 375px;
height: 739px;
flex-shrink: 0;
    }
   
    
    }
h4{
    color: #000;
    font-family: font-header;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 32px; 
}
.form-select{
    width: 331px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(13, 156, 164, 0.21);
    background: #F8F8F8;
    color: #000;
    font-family: font-header;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left:32px;
    margin-top: 16px;
    margin-bottom: 32px;
}
.form-check{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 32px;
    margin-bottom: 10px;
}
section{
    display: grid;
    grid-template-columns: auto auto;
}

.right-container-image{
    max-width: 1125px;
     height: 751px;;
    width: 100%;
    border-radius: 24px;
    margin-left: 20px;
      position: absolute;   
}

@media (max-width: 1024px) {
    .right-container-image{
        width: 335px;
        height: 435px;
        flex-shrink: 0;
    }
    }
   
    
    



h1{
    position: relative;
    left:500px;
    top:60px;
}
.right-container-h5{
    position: relative;
    left: 530px;
    top:60px;
}
.form-control{
    position: relative;
}
.form-floating{
    display: inline-block;
} 

/* .right-container-logo{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    margin-left: 200px;
    background-color:#29B24E;
    display: relative;

} */

.form-control{
    width: 324px;
    height: 48px;
    margin-left: 500px;
    margin-top: 80px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 20px;
    background-position: 290px 12px;
}


.tradingAds a {
    display: grid;
     grid-template-columns: repeat(4, auto); 
    text-decoration: none;

   


}
.section2-block{
    max-width: 395px;
    width: 100%;
    margin: 0 auto;
    /* height: 424px; */
    border-radius: 24px;
    background: #F8F8F8; 
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 140px;  
    column-gap: 20px;
}
.h3-section2{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
    margin-top: 70px; 
}
.image-section2{
    max-width: 363px;
    width: 100%;
    height: 202px;
    border-radius: 20px;
    margin: 16px;
/* position: relative; */
}
.section2-h3{
    color: #000;
    font-family: font-header;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
    margin-bottom: 8px; 

}
.section2-h5{
    color: #000;
    font-family: font-header;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
    margin-top: 8px; 
}
.section2-price{
    color: #29B24E;
    text-align: right;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 258px;
    margin-bottom: 16px;

}
.border-style{
    border-bottom-style: solid #CFEAD6;
    width: 395px;
    height: 1px;
    border-radius: 2px;
    background-color: #CFEAD6;
}
.section2-p{

    position: absolute;
    text-align: start;
    margin-left: 39px;
    margin-top: 34px;
    padding:6px 11px;
    border-radius: 15px;
    background-color: #29B24E;
    
}
.position-image-text{
    position: relative;
}
.section2-secondblock{
    display: flex;
}

p{
 margin-right: 60px;
margin-left: 10px;
margin-top: 10px; 
color: #000;
font-family: font-header;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer{
    max-width: 1920px; 
     margin: 0 auto; 
    width: 100%;
    height: 179px;
    background-color: #29B24E;
    position: absolute;
    display: flex;
    margin-top: 120px;
}
.footer-ul-class{
     display:grid;
     grid-template-columns: 70px 70px 70px 70px;
    margin-right: 48px;
    margin-top: 54px;
    font-family: font-header;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
    text-decoration: none;
    color: #FFF;
}
footer li a{
    color: #FFF;
    list-style: none;
    text-decoration: none;
}

.border-style-footer{
    border-bottom-style: solid;
    width: 900px;
    height: 1px;
    flex-shrink: 0;
    border-radius: 40px;
    color: #D0D0D0;
    margin-bottom: 10px;

}


footer p{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32px;
    margin-bottom: 65px;
    margin-left: 365px;
    margin-right: 365px;
  
}
.footer-p2{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32px;
    margin-bottom: 65px;
    margin-left: 350px;
    margin-right: 350px;
  

}

/* homeinternal page */
.homeinternal-container{
    width: 1920px;
     width: 100%;
 height: 1730px; 
 margin: 0 auto;  
background: #F2F2F2;
}
.homeinternal-box{
    display: flex;
}
.homeinternal-image{
    width: 810px;
height: 732px;
border-radius: 20px;
margin-left: 140px;
margin-top: 58px;
margin-right: 44px;
margin-bottom: 72px;
object-fit: fill;
}

.homeinternal-rightblock{
max-width: 789px;
width: 100%;
flex-shrink: 0;
border-radius: 24px;
background: #F8F8F8;
box-shadow: 0px 4px 18px 0px rgba(194, 194, 194, 0.30);
margin-top: 57px;
margin-right: 140px;
margin-left: 44px;
margin-bottom: 129px;
}
.head-section{
    display: flex;
}
.inside-section{
    display: flex;
}
.homeinternal-p{
color: #FFF;
font-family: font-header;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 15px;
background: #29B24E;
padding: 5px 11px;
margin-top: 30px;
margin-left: 40px;
margin-right: 224px;
}

.homeinternal-p1{
color: #000;
text-align: center;
font-family: font-header;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 23px; /* 191.667% */
margin-top: 32px;
margin-right: 222px;
}
.homeinternal-logo{
    width: 16px;
height: 16px;
flex-shrink: 0;
margin-top: 36px;

}
.homeinternal-p2{
    color: #000;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 23px; /* 191.667% */
margin-top: 32px;
margin-right: 40px;
margin-left: 8px;

}
.rightblock-p{
    color: #000;
font-family: font-header;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 40px;
margin-bottom: 12px;
}
.rightblock-p2{
color: #000;
font-family: Pfont-header;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 40px;
margin-bottom: 32px;
}
.rightblock-p3{
width: 611px;
color: #000;
font-family: font-header;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 23px; /* 164.286% */
margin-left: 40px;
margin-bottom: 40px;
}
.border{
border-style: solid;
width: 786px;
color: #ECECEC;
margin-bottom: 16px;
}
.inside-section2{
    display: flex;
}
.inside-section-p{
    color: #000;
    font-family: font-header;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; /* 164.286% */
    margin-left: 40px;
    margin-right: 24px;
    margin-bottom: 16px;
}
.inside-section-p2{
    color: #000;
    font-family: font-header;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; /* 164.286% */
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 16px;
}
.inside-section-p4{
    color: #000;
    font-family: font-header;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; /* 164.286% */
    margin-right: 372px;
    margin-left: 24px;
    margin-bottom: 16px;
}
.righblock-main-div{
    display: flex;
}
.rightblock-second{
    margin-left: 40px;
}
.paragraph{
color: #000;
font-family: font-header;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 23px; /* 191.667% */
}
p{
    color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 23px; /* 164.286% */
}
.flex{
    display: flex;
}
.buttons{
    display: flex;
}
.parentdiv{
    display: flex;
}
.price{
    margin-left: 94px;
    margin-bottom: 24px;
    
}
.Sentmessage{
    margin-left: 233px;
    margin-right: 16px;
    margin-bottom: 24px;
    display: inline-flex;
    padding: 13px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #29B24E;
    color: #29B24E;
    font-family: font-header;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.call{
    margin-left: 16px;
    margin-right: 40px;
    margin-bottom: 28px;
    display: inline-flex;
    width: 80px;
    height: 47px;
    padding: 13px 26px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #29B24E;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.homeinternal-mainbox{
    display: grid;
    grid-template-columns: auto auto auto auto;
}


