body{
    max-width: 1920px;
    width: 100%;
    background: #F2F2F2;
}
header{
    display: grid;
    grid-template-columns: auto auto auto;
    
}
nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-right: 48px;
    margin-top: 54px;
    color:#000000E5;
    font-family: font-header;
    font-size: 14px;
    font-style: normal;
    list-style: none;
    
}

nav ul li:first-child { 
     border-bottom-style: solid;
     border-bottom-color: #29B24E;
     width: 30px;
     /* height: 2px;
     flex-shrink: 0;  */
} 
.logoheader{
    max-width: 48px;
    width: 100%;
    margin-left: 140px;
    margin-top: 42px;
    margin-bottom: 41px;

}
.sellsomething-header{
    padding: 13px 26px;
    width: 156px;
    height: 47px;
    border-radius: 12px;
    background: #29B24E;
    color: #FFF;
    font-family: font-header;
    font-size: 14px;
    font-style: normal;
    width: 104px;
    height: 21px;
    margin-right: 138px;
   margin-top: 42px;
   margin-bottom: 32px;

}
.left-container{
    width: 395px;
    height: 751px; 
    border-radius: 24px;
   background: #F8F8F8;
   box-shadow: 0px 4px 25px 0px rgba(194, 194, 194, 0.31);
   margin-left: 140px;
   margin-right: 20px;

}
h4{
color: #000;
font-family: font-header;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 32px; 
}
.form-select{
width: 331px;
height: 48px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid rgba(13, 156, 164, 0.21);
background: #F8F8F8;
color: #000;
font-family: font-header;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left:32px;
margin-top: 16px;
margin-bottom: 32px;
}
.form-check{
    color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 32px;
margin-bottom: 10px;
}
section{
    display: grid;
    grid-template-columns: auto auto;
}
.right-container-image{
    width: 1225px;
    height: 751px;
    border-radius: 24px;
    margin-left: 20px;
    margin-right: 140px;
     position: absolute;  
}
h1{
    position: relative;
    left:500px;
    top:60px;
}
.right-container-h5{
    position: relative;
    left: 530px;
    top:60px;
}
.form-control{
    position: relative;
}
.form-floating{
    display: inline-block;
} 

.right-container-logo{
    width: 18px;
height: 18px;
flex-shrink: 0;
margin-left: 200px;
background-color:#29B24E;
display: relative;

}

.form-control{
    width: 324px;
    height: 48px;
    margin-left: 500px;
    margin-top: 80px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 20px;
    background-position: 290px 12px;
}